.carrossel1 {
    box-shadow: 2px 2px 2px black;
    overflow: hidden;
    height: 300px;
    width: 100vw;
}

.container1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    width: 100%; 
}

.containerImg1 {
    object-fit: cover;
    height: 300px;
    width: 100vw; 
    flex-shrink: 0; 
}
